[Unit]
Description=SUSE Manager Proxy Assigner web service
After=network.target postgresql.service

[Service]
Type=simple
Restart=always
User=smproxy
Group=susemanager
EnvironmentFile=-/etc/sysconfig/smproxy
ExecStart=/usr/local/bin/smproxy run-server
PIDFile=/run/smproxy.pid

[Install]
WantedBy=multi-user.target
